#EngineContainer{
  margin: 0px;
  height: calc(100vh - 92px);
}
#viewport{
  width:100%
}
.fixed{
  position: fixed;
}
canvas{
  width:100%;
}
.buttonGroup{
  background-color: black;
}
.inline{
  display: inline;
}
label{
  color:white;
}
#colorPicker{
  height: 40px;
}
.content{
  background-color: black;
}
