.cursor-click{
    cursor: pointer;
}

.no-pointer{
    cursor:default !important;
}

.cursor-click:hover{
    border-style: solid;
}
 #EngineContainer {
    margin: 0px;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    position: fixed;
    z-index: -1;
    /* height: calc(100vh - 92px); */
}
#viewport {
    width: 100%
}

.fixed {
    position: fixed;
}

canvas {
    width: 100%;
}

.buttonGroup {
    background-color: black;
}

.inline {
    display: inline;
}

label {
    color: white;
}

#colorPicker {
    /* height: 100%;
    width: 100%; */
}
.content {
    background-color: black;
    overflow: hidden;
}

.operator-border{
    border-style: solid;
    border-width: 10px;
    height: 90px;
    width: 90px;
}
.battleplan_notes{
    height:100%;
    width:100%;
    margin: 20px;
}
